<h1>Welcome. TrackIT</h1>

<div class="row">
	<% if current_user? %>
		<div class="small-12 columns">
			<%= link_to 'Start a new Job', new_job_path %>
		</div>
		<%= render 'jobs/users_jobs' %>
	<% end %>
</div>



